@import "../../scssImports/variables.scss";

.container {
  margin-top: 1rem;
}

.inputBlock {
  display: block;
  width: 100%;
}

.inputLabel {
  padding: 5px 0;
  font-size: $friendNameFont;
  padding-right: 2rem;
}

.inputField {
  @extend .inputLabel;
  color: inherit;
  outline: none;
  appearance: none;
  border: 0px;
  border-bottom: 2.5px dashed $color-primary-3;
  background-color: $friendBGColor;
  background-color: $transparent; /*opacity 0 i.e. inherit BG color*/
  text-align: center;
}

.locationBlock {
  display: block;
  width: 100%;
  position: relative;
  @include atMedium {
    text-align: left;
  }
}

.infrontOfLocationBlock {
  display: inline;

  position: static;
  @include atMedium {
    position: relative;
  }
}

.locationLabel {
  margin: 0;
  padding: 5px 2rem 5px 0;
  font-size: $friendLocationFont;
  display: inline-block;
  margin: 0 auto;
  @include atMedium {
    //margin-left: 0;
  }
}

.LocationInput {
  @extend .locationLabel;
  color: inherit;
  outline: none;
  appearance: none;
  border: 0px;
  border-bottom: 2.5px dashed $color-primary-3;
  background-color: $friendBGColor;
  background-color: $transparent; /*opacity 0 i.e. inherit BG color*/
  text-align: left;
  z-index: 1;
  position: absolute;
  /*positioning*/
  left: 0;
  top: 2.4rem;
  width: 100%;
  @include atMedium {
    /* display to the right of the location bar */
    left: 0;
    top: inherit;
    margin: 0;
    padding: 5px 0;
    width: 26rem;
  }
}

.greySuggestion {
  @extend .LocationInput;
  color: grey;
  text-decoration: none;
  position: absolute;
  background: none;
}

.LocationInputContainer {
  display: block;
  position: static;
  margin: 0 auto;
  margin-top: 2.5rem;
  @include atMedium {
    width: 80%;
    margin-top: 0;
  }
}

.errorMessage {
  display: block;
  text-align: center;
  font-size: $friendErrorMessageFont;
  color: red !important;
}

.formButton {
  margin: 0 1rem;
}

/* ---------------*/
//TYPEAHEAD STYLES
/* ---------------*/

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestionActive {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.matching {
  font-weight: bold;
}

.typeAhead {
  /*have nested css to target imported typeahead component */
  &list {
    /*typeahead dropdown component NB has significant inline styles... */
    /* therefore !important used */
    width: 100%;
    position: absolute;
    //right: -10%;
    //left: auto;

    text-align: left;
    list-style: none;
    color: inherit;
    font-size: $friendLocationFont !important;
    background-color: $friendBGColor !important;
    z-index: 1;
    border: 2px solid $color-primary-3;
    border-radius: 1rem;

    &Item {
      /*typeahead label */
      text-decoration: none;
      border: 0px;
      color: inherit;
      font-size: $friendLocationFont !important;
      z-index: 1;
      padding-left: 1rem;
      &active {
        background-color: $color-primary-1 !important;
        z-index: 1;
      }
      &:hover {
        background-color: $color-primary-2 !important;
        z-index: 1;
      }
      &Loading {
        display: block;
        height: 4rem;
        text-align: center;
      }
    }
  }
}

.countryCode {
  padding-left: 2rem;
}
