@import "scssImports/variables.scss";

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: #f6f6f6;

  * {
    // position: absolute;
    // top: 0;
    // left: 0%;
    // right: 0;
    // bottom: 0;
    // margin: auto;
    // min-width: 50%;
    // min-height: 50%;
    // background-image: url();
  }
}

.textBoxContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: white;

  font-size: 2rem;
  @include atMedium {
    font-size: 3rem;
  }
}

.button {
  margin: 1rem;
}

.placeholder {
  background-color: #f6f6f6;
  // background-size: cover;
  // background-repeat: no-repeat;
  // position: relative;
  // overflow: hidden;
}

.background img {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  transition: opacity 5s linear;
}
.placeholder img.loaded {
  opacity: 1 !important;
}

.imgSmall {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  opacity: 0 !important;
  // transform: scale(1);
}
