
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>net</title>
</head>
<body>
<h2>Net Page</h2>
<a asp-action="Test" asp-controller="Home"> to Net </a>
</body>
</html>
