/*@value colors: "../../css/utils/colors.css";
@value mediaQueries: "../../css/utils/mediaQueries.css";
@value b from colors;
@value Vsmall, small, medium, large from mediaQueries;

*/
.container {
  display: inline-block;
  color: black;
}

.igloo {
  color: blue;
  display: inline-block;
  width: 200%;
  transform: scale(2);
}

.map {
  width: 200px;
  height: 200px;
}

@media (min-width: Vsmall) {
  .container {
    color: pink;
  }
}

@media (min-width: small) {
  .container {
    color: blue;
  }
}
@media (min-width: medium) {
  .container {
    color: purple;
  }
}
@media (min-width: large) {
  .container {
    color: green;
  }
}
